[COMMON]
geburtstag=23.6.1912
postleitzahl=42042

[EMAIL]
; true wenn eine Benachrichtigung via Mail gesendet werden soll sonst false
enable=true
; Absender Adresse
sender=sender@server.de
; Login Name
user=xxxx
; Login Passwort
password=xxxx
; smtp Server
server=mail.server.de
; smtp Port - derzeit kann nur an SSL Server gesendet werden
port=465
; E-Mail Empfaenger Liste 
empfaenger=sender@server.de,guenni@server.de,frida@server.de

[TELEGRAM]
; true, wenn Telegram verwendet werden soll;  sonst false
enable=true
; Token muss zunächst generiert werden: https://t.me/BotFather
token=TOKEN
; User-ID des Empfängers: https://t.me/userinfobot
chat_id=123456789,987654321

[WEBBROWSER]
; Desktop only - Soll der default Browser automatisch geoeffnet werden 
enable=true

[APPRISE]
; true, wenn Apprise verwendet werden soll;  sonst false
enable=true
; Verschiedene Benachritigungsservice. Mehrere durch Komma trennen -> https://github.com/caronc/apprise
service_urls=discord://webhook_id/webhook_token,matrix://hostname

[ADVANCED]
; Wartezeit zwischen den Abfragen eine zu kleine Wartezeit führt zu einem IP-Ban (Default: 5min, kann aber empirisch verkleinert werden)
sleep_between_requests_in_s=150
; Wartezeit zwischen fehlgeschlagenen Versuchen. Bei jedem weiteren wird die Wartezeit nochmal hinzuaddiert. D.h. fünf Fehlschläge = Wartezeit von 5*30s bis zum nächsen Aufruf
sleep_between_failed_requests_in_s=15
; Wenn eine Abfrage 10x fehlschlaegt ist die IP vermutlich gebannt. Standardmaeßig wird dann 3h gewartet
sleep_after_ipban_in_min=180
; Cooldown nachdem ein Impftermin gefunden wurde. Standardmaeßig wird dann 15min gewartet (in min)
cooldown_after_found_in_min=15
; Zufällige Zeitspanne von 0-jtter die auf die Wartezeiten addiert wird
jitter=5
; Legt fest ob der Bot nachts schlafen soll (Default: true da eh keine Termine veröffentlicht werden)
sleep_at_night=true
; User-Agent für die Anfrage an die API
user_agent=impfbot
