name: nightly
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch: {}
jobs:
  build-release:
    name: Build and release Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build \
            -f docker/Dockerfile
            -t "ghcr.io/${GITHUB_REPOSITORY}:${GITHUB_SHA:0:7}" \
            -t "ghcr.io/${GITHUB_REPOSITORY}:nightly" .

      - name: Release Docker images to ghcr.io
        run: |
          docker push "ghcr.io/${GITHUB_REPOSITORY}:${GITHUB_SHA:0:7}"
          docker push "ghcr.io/${GITHUB_REPOSITORY}:nightly"
